:host {
  display: block;
}

mat-nav-list {
  padding: 10px;
  background-color: #fff;
}

a[mat-list-item] {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  border-radius: 4px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #f2f2f2;
  }
}

a[mat-list-item] mat-icon[matListItemIcon] {
  margin-right: 10px;
  color: inherit;
}

a[mat-list-item].active {
  color: #6a11cb;
  background-color: rgba(106, 17, 203, 0.1);
  border-left: 4px solid #6a11cb;
}
