/* Az új mérkőzés kártya stílusa */
.match-card {
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.445);
}

/* MatCard header és cím */
mat-card-header {
  padding: 16px;
}

mat-card-title {
  font-size: 20px;
  color: #c41f1f;
  font-weight: 500;
  margin-bottom: 16px;
}

/* Űrlapcsoport stílus az új mérkőzés felviteléhez */
.form-group {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}

/* Táblázat stílus az aktív mérkőzésekhez */
table {
  width: 100%;
  background-color: #f9f9f9;
}

th.mat-header-cell {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 40px;
}

/* Egér fölé vitt sor kiemelése */
.mat-row:hover {
  background-color: #f9f9f9;
}

/* A cellák alatti elválasztó vonal */
.mat-row .mat-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

/* Oszlopspecifikus beállítások a mérkőzések táblázathoz */
/* A hazai és vendég csapat oszlopoknak nincs fix szélességük, de a gólarány oszlopoknál beállítunk egy fix értéket */
.mat-column-hazaiGol,
.mat-column-vendegGol {
  width: 170px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px
}

.mat-column-actions {
  width: 70px;
  text-align: center;
}

/* Nincs aktív mérkőzés esetén */
.mat-row {
  text-align: center;
  font-style: italic;
  padding: 16px 0;
}
