<mat-card class="table-card">
  <mat-card-header>
    <mat-card-title>Tabella</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="teams" class="mat-elevation-z8">

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let team; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef> Csapat </th>
        <td mat-cell *matCellDef="let team">
          <img [src]="team.img" alt="{{ team.name }}" style="width: 30px; height: 20; margin-right: 8px; vertical-align: middle;">
          {{ team.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef> Pontok </th>
        <td mat-cell *matCellDef="let team">{{ team.points }}</td>
      </ng-container>

      <ng-container matColumnDef="matchesPlayed">
        <th mat-header-cell *matHeaderCellDef> M </th>
        <td mat-cell *matCellDef="let team">{{ team.matchesPlayed }}</td>
      </ng-container>


      <ng-container matColumnDef="goalsFor">
        <th mat-header-cell *matHeaderCellDef> RG </th>
        <td mat-cell *matCellDef="let team">{{ team.goalsFor }}</td>
      </ng-container>

      <ng-container matColumnDef="goalsAgainst">
        <th mat-header-cell *matHeaderCellDef> KG </th>
        <td mat-cell *matCellDef="let team">{{ team.goalsAgainst }}</td>
      </ng-container>

      <ng-container matColumnDef="goalDifference">
        <th mat-header-cell *matHeaderCellDef> GK </th>
        <td mat-cell *matCellDef="let team">{{ team.goalDifference }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">Nincs adat</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
