.results-card {
  max-width: 800px;
  margin: 20px auto;
}

mat-card-header {
  background-color: #f5f5f5;
  padding: 16px;
  display: flex;
  align-items: center;
}

mat-card-title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

mat-card-content {
  padding: 16px;
}

table {
  width: 100%;
}

th.mat-header-cell {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 14px;
}

.mat-column-hazaiGol,
.mat-column-vendegGol {
  width: 100px;
  text-align: center;
}

.mat-column-hazai,
.mat-column-vendeg {
  padding: 8px;
}

.mat-no-data-row {
  text-align: center;
  font-style: italic;
  color: #757575;
  padding: 16px 0;
}

tr.mat-row:hover {
  background-color: whitesmoke;
}
